# To get started with MLflow you'll need to install the appropriate Python package.

# for parquet file
pyarrow
fastparquet
# orjson is a fast, correct JSON library
orjson
pandas
seaborn

# ML Model packages
scikit-learn
xgboost
optuna
hyperopt

# MLOPS experiment-tracking packages
mlflow
wandb
prefect
prefect-email

# Optionally
# for py file parameter
click
# for code style
black
# MLOPS Cloud packages
boto3
prefect-aws

# Optionally
jupyter
ipywidgets
